.aboutMeContainer {
    height: 100%;
    width: 100%;
    justify-content: center;
    opacity: 1;
    transition-duration: 1s;

}

.aboutMeInactive {
    height: 100%;
    margin-left: -100%;
    opacity: 0.0;
    transition-duration: 1s;
}

.aboutMeHeading {

}

.aboutMeTextContainer {
    padding-top:10%;
    text-align: center;
    width: 60%;
    margin: auto;
}

.aboutMeTextContainer h1 {
    padding-bottom: 2vh;
    font-size: 3.1em;
}

.viewPortfolioButton {
    margin-top: 3vh;
    /*color:#080752 !important;*/
    /*border-color:#080752 !important;*/
}

/*.viewPortfolioButton:hover{*/
/*    color:#FFFFFF !important;*/
/*    border-color:#080752 !important;*/
/*    background-color: #080752;*/
/*}*/
