.contactMeFormContainer{
    background-color: #f8f9fa;
    padding-bottom:4em;
}

.titleContainer {
    text-align: center;
    padding-top:3em;
}

.react-reveal{
    width:100% !important;
}

.form-control{
    margin-top:1em;
}
