.contentContainer {
    /*border:1px solid green;*/
    height: 100% !important;
    overflow: hidden;
}


.content {
    height: 100%;
    width: 100%;
    display: inline-flex;
}

.socialLinks {
    display: inline-flex;
    height: 10%;
    width: 100%;
}

.iconContainer {
    margin: auto;
}

.iconContainer a {
    color: #212529;
}


.socialIcon {
    margin: 5px 5px;
    font-size: 2.5em;
    transition-duration: .5s;

}


.socialIcon:hover {
    cursor: pointer;
    color: grey;
    transition-duration: .5s;
}


.projectDetailsOverlay {
    color: white;
    position: relative;
    height: 73vh;
    width: 80vw;
    border-radius: 0em 0em 1em 1em !important;
    background-color: darkblue;
    /*background-color: #080752;*/
    transition-duration: .5s;
    z-index: 1;
}

.projectDetailsOverlayActive {
    border-radius: 0em 0em .9em .8em !important;
    position: relative;
    z-index: 1;
    opacity: 0.99;
    transition-duration: .5s;
    margin-top: -73vh;

}

.projectDetailsOverlayContentContainer {
    height: 100%;
    width: 100%;
    margin: auto;
    border-radius: 0em 0em 1.2em 1.2em !important;
    background-color: #1c1c21;
}

.projectImage {
    /*background-color: red;*/
}

.projectInfo {
    /*background-color: blue;*/

}

.projectInfoTextContainer {
    /*background-color: blue;*/
    padding-top: 10.5em;
    width: 80%;
}

.projectInfoTextContainer h1 {
    /*background-color: blue;*/
    padding-bottom: .5em;
}

.projectInfoTextContainer p {
    /*background-color: blue;*/
    padding-bottom: .5em;
}

.projectInfoTextContainer button {
    /*background-color: blue;*/
    margin-bottom: .5em;
}


.imageAndInfoContainer {
    display: inline-flex;
    width: 100%;
    height: 100%;

}

.testProjectImage {
    margin-top: 9em;
    width: 60%;
    height: 45%;
    border-radius: 1em 1em 1em 1em !important;
    transform: skew(25deg, 0deg);
    box-shadow: #726f74 -37px 20px;
}

.projectLinkButton {
    margin: 10px;
}

.projectLinkButton:hover {
    cursor: pointer
}

.projectButtonsContainer {
    padding-top:4%;
    padding-bottom:12%;
}