.contentContainer {
    /*border:1px solid green;*/
    height: 100% !important;
    overflow: hidden;
}


.content {
    height: 100%;
    width: 100%;
    display: inline-flex;
}

.socialLinks {
    display: inline-flex;
    height: 10%;
    width: 100%;
}

.iconContainer {
    margin: auto;
}

.iconContainer a {
    color: #212529;
}


.socialIcon {
    margin: 5px 5px;
    font-size: 2.5em;
    transition-duration: .5s;

}


.socialIcon:hover {
    cursor: pointer;
    color: grey;
    transition-duration: .5s;
}

