.footerContainer {
    background-color: #343a40;
    padding: 2rem 0 2rem 0;
}


.footerContent {
    color: white;
    text-align: center;

    font-family: libre Baskerville !important;


}

.footerContent a {
        color: white;
    text-align: center;
}

.footerContent h4{
font-weight: 600;


}

.socialIcon  {
    font-size: 2.7rem;
    margin: .8rem;
    transition-duration: .3s;

}

.socialIcon:hover  {
    cursor: pointer;
    color: #829998;
    transition-duration: .3s;
}


@media (max-width: 450px) {
.footerContent h4{
letter-spacing: -3px !important;
font-weight: 600;

}



}
