.navigationHeader {
    height: 10%;
    width: 100%;
    margin: auto;
    display: inline-flex;
    background: transparent;
}

.navigationTitle {
    display: inline-flex;
    text-align: left;
    padding-left:4%;
}
.navigationTitle:hover {
    cursor: pointer;
}


.navigationClearSpaceAndLinks {
    display: inline-flex;
}

.navigationLinks {
    display: inline-flex;
    padding-left:10%;

}

.navigationLink {
    padding-top:2%;
    padding-left: 10px;

}

.navigationLink:hover {
    cursor: pointer;
    color: lightgray;
    transition-duration: .2s;

}


.active {
    color: #007bff !important;
    transition-duration: .5s;
}
