.portfolioContainer {
    padding-top: 2rem;
    text-align: center;
    padding-bottom:3rem;

}

.portfolioHeading {
    margin-top:3rem;
    margin-bottom:3rem;
}


.responsiveColumn {
    background-color: #2d2d2f;
        border-radius: 5%;
    margin:1rem;

}

.container {
    position: relative;
    padding: 0;
    border-radius: 5%;

}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: 100%;
    transition: .5s ease;
    backface-visibility: hidden;
    border-radius: 5%;
}


.image:hover {
    opacity: 0.3;
}


.container:hover {
    cursor: pointer;
}

.portfolioContent{
    height:100%;

}



@media (min-width: 700px) {



.portfolioContainer {
 height:100vh;
}





}

