/*.red{*/
/*    background-color: red;*/
/*}*/

/*.yellow{*/
/*    background-color: yellow;*/
/*}*/

/*.green{*/
/*    background-color: green;*/
/*}*/

.portfolioRow {
    display: inline-flex;
    width: 100%;
    height: 50%;
    /*border:1px solid black;*/
}

.portfolioProjectsContainer {
    height: 100%;
    justify-content: center;
    width: 100%;
    transition-duration: 2s;
    padding:4.5vh;

}

.projectCell {
    background-color: darkslategrey;

    height: 95%;
    margin-top: 2%;
    justify-content: center;
    color: white;
    font-weight: bolder;
    border-radius: 1em !important;
    border: none !important;


}

.projectCell:hover {
    transition-duration: .3s;
    -webkit-animation-duration: .3s;
    background-color: #080752;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    cursor: pointer;
    border-radius: 1em !important;

}


.projectCell {
    opacity: 1;
    transition-duration: 2s;

    overflow: hidden !important;

}



.portfolioInactive{
    margin-right:-100%;
    transition-duration: 2s;
    opacity:0.3;
}


.projectCell img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border: none;

}

.text {
    background-color:#080752;
    height: 100%;
    opacity: 0;

    transition-duration: .3s;
    -webkit-animation-duration: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    justify-content: center;
    border-radius: 1em !important;

}

.text:hover {
    opacity: 0.7;

    transition-duration: .3s;
    -webkit-animation-duration: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.text:hover h1 {
    opacity: 1;


}




.project1 {
    background-image: url("../portfolioTestPictures/2.jpg");
    -webkit-background-size: cover;
    background-size: cover;
}


.project2 {
    background-image: url("../portfolioTestPictures/2.jpg");
    -webkit-background-size: cover;
    background-size: cover;
}

.project3 {
    background-image: url("../portfolioTestPictures/refillrTestPhoto.png");
    -webkit-background-size: cover;
    background-size: cover;
    background-position-x: -2%;
}

.project4 {
    background-image: url("../portfolioTestPictures/timelyCover.jpeg");
    -webkit-background-size: cover;
    background-size: cover;
}

.project5 {
    background-image: url("../portfolioTestPictures/greendly.png");
    -webkit-background-size: cover;
    background-size: cover;
}

.project6 {
    background-image: url("../portfolioTestPictures/socialCompile.png");
    -webkit-background-size: cover;
    background-size: cover;
}


.projectPicture {
    position: center;
    overflow: hidden !important;
}


.projectTitle {
    margin-top: 13vh;

}
