.portfolioContainer {
    padding-top: 4rem;
    text-align: center;
    padding-bottom: 6rem;

}

.portfolioHeading {
    font-weight: bolder;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}


.responsiveColumn {
    background-color: #2d2d2f;
    border-radius: 1%;
    margin: 2rem;

}

.container {
    position: relative;
    padding: 0;
    border-radius: 1%;

}


.row {
    margin-left: 0px !important;
    margin-right: 0px !important;
}


.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: 100%;
    transition: .5s ease;
    backface-visibility: hidden;
    border-radius: 1%;
}


.image:hover {
    opacity: 0.3;

}


.container:hover {
    cursor: pointer;
}

.portfolioContent {
    height: 100%;

}

.portfolioDivider {
    width: 30%;
    margin: auto;
    border: 2px solid grey;
    margin-bottom: 2rem;
}


@media (max-width: 750px) {

    .responsiveColumn {
        position: relative;
        background-color: #2d2d2f;
        border-radius: 1%;
        margin-top: 2rem;
        margin-bottom:2rem;
        width: 95%;
        left: -6%;
    }


}

@media (max-width: 450px) {
.portfolioHeading {
letter-spacing: -5px !important;
}




}



@media (min-width: 750px) {

.modal-dialog {
    max-width: 80% !important;
}

}

