.modal-content{
      height:83vh !important;
    width:66vw;
  border-radius: 1em !important;

}

.projectDetailsContainer{
    margin-left:-14.5vw;
    margin-top:5vh;
    text-align: center;

}

.projectDetailsInfo{
    padding-top:1%;
    width:75%;
    margin:auto;
}

.projectDetailsTitle {
    font-size: 2.2em ;
    border-bottom:3px solid;
    padding-bottom: 2%;
}

.projectDetailsImage {
    height:40%;
    width:45%;
    border-radius: 2em;
    margin-top:2%;
    margin-bottom:2%;
}

.technologyListItem {
    padding-bottom:0px;
    margin-top:-1.1em;
}

.overlayCloseButton:hover{
    cursor: pointer !important;
}

.overlayCloseButton{
float:right;
    margin-right:4%;
    margin-top:2%;
    font-size: 3em;
}


.projectDetailsOverlay {
    color: white;
    position: relative;
    height: 73vh;
    width: 80vw;
    border-radius: 0em 0em 1em 1em !important;
    background-color: darkblue;
    /*background-color: #080752;*/
    transition-duration: .5s;
    z-index: 1;
}

.projectDetailsOverlayActive {
    border-radius: 0em 0em .9em .8em !important;
    position: relative;
    z-index: 1;
    opacity: 0.99;
    transition-duration: .5s;
    margin-top: -73vh;

}

.projectDetailsOverlayContentContainer {
    height: 100%;
    width: 100%;
    margin: auto;
    border-radius: 0em 0em 1.2em 1.2em !important;
    background-color: #1c1c21;
}

.projectImage {
    /*background-color: red;*/
}

.projectInfo {
    /*background-color: blue;*/

}

.projectInfoTextContainer {
    padding-top: 5.5em;
    width: 80%;
}

.projectInfoTextContainer h1 {
    /*background-color: blue;*/
    padding-bottom: .5em;
}

.projectInfoTextContainer p {
    /*background-color: blue;*/
    padding-bottom: .5em;
}

.projectInfoTextContainer button {
    /*background-color: blue;*/
    margin-bottom: .5em;
}


.imageAndInfoContainer {
    display: inline-flex;
    width: 100%;
    height: 100%;

}

.testProjectImage {
    margin-top: 5em;
    margin-left:3%;
    width: 60%;
    height: 45%;
    border-radius: 1em 1em 1em 1em !important;
    transform: skew(25deg, 0deg);
    box-shadow: #726f74 -37px 20px;
}

.projectLinkButton {
    margin: 10px;
}

.projectLinkButton:hover {
    cursor: pointer
}

.projectButtonsContainer {
    padding-top:4%;
    padding-bottom:12%;
}

.buttonIcon {
    margin-right:5px;
}