.projectModalRightHalf  {
    text-align: center;
}

.projectModalLeftHalf  {
text-align: center;
}

.closeButtonContainer {
    width:100%;
    text-align: right;
    padding-bottom:2.5rem;

}

.modalCloseButton {
}

.projectImage{
    height:80%;
    width:80%;
    margin-bottom: 2rem;
    box-shadow: #0f6674 -10px 10px;
    border-radius: 1%;
}

.modalLinkButtonsContainer {
    display: inline;
}

.modalLinkButton{
    margin:.5rem;
}

.modalTextContainer {
    width:90%;
    margin:auto;
}
