.projectModalRightHalf {
    text-align: center;
}

.projectModalLeftHalf {
    text-align: center;
}

.closeButtonContainer {
    width: 100%;
    text-align: right;
    padding-bottom: 2.5rem;

}

.modalCloseButton {
}


.projectImage {
    height: 80%;
    width: 80%;
    margin-bottom: 2rem;
    border-radius: 1%;
}

.modalLinkButtonsContainer {
    display: inline;
    margin-top:2rem;
}

.modalLinkButton {
    margin: .5rem;
}

.technologiesUsed{
    padding-bottom:1rem;
}
.technologiesUsedHeader{
    margin-bottom:-0rem;
}

.modalTextContainer {
    width: 90%;
    margin: auto;
}


.modalCloseIcon {
    font-size: 2rem;
    transition-duration: .3s;
    cursor: pointer;

}

.modalCloseIcon:hover {
    color: darkgrey;
    transition-duration: .3s;
}

.buttonIcon{
    margin-left:5px;
}

@media (max-width: 750px) {
    .modal.show .modal-dialog {
        margin-top: -1.3rem !important;
    }
}

@media (min-width: 1200px) {

    .modalTextContainer {
        /*padding-top: 2rem;*/
    }
}



