.projectModalRightHalf {
    text-align: center;
        padding-bottom: 2rem;

}

.projectModalRightHalf:hover {
cursor: default;
}

.projectModalLeftHalf:hover {
cursor: default;
}

.projectModalLeftHalf {
    text-align: center;
}

.closeButtonContainer {
    width: 100%;
    text-align: right;
    padding-bottom: 2rem;

}

.modalCloseButton {
}


.projectImage {
    height: 100%;
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 1%;
}

.modalLinkButtonsContainer {
    display: inline;
    margin-top:2rem;
}

.modalLinkButton {
    margin: .5rem;
}

.technologiesUsed{
    padding-bottom:1rem;
}
.technologiesUsedHeader{
    margin-bottom:-0rem;
}

.modalTextContainer {
    width: 60%;
    margin: auto;
}


.modalCloseIcon {
    font-size: 2rem;
    transition-duration: .3s;
    cursor: pointer;

}

.modalCloseIcon:hover {
    color: darkgrey;
    transition-duration: .3s;
}

.buttonIcon{
    margin-left:5px;
}


.projectImage {
max-width:600px;
}



@media (max-width: 750px) {
    .modal.show .modal-dialog {
        /*margin-top: -1.3rem !important;*/
    }
.modalTextContainer {
    width: 85%;
    margin: auto;
}


.projectImage {
    height: 100%;

    width: 100%;

}
}



@media (min-width: 1200px) {
 .modal-dialog {
max-width: 1000px !important;    }



}

.divider {
    border-top: 3px solid dimgrey;
    width:70%;
    margin: auto;
    padding-bottom: 1rem;
}





