.App {
  text-align: center;
  background-color: #080752;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cardContainer {
  height:85vh;
  width:80vw;
  border-radius: .8em !important;
}
